name: automerge
on:
  workflow_call:
    secrets:
      gh_token:
        required: true
      vault_addr:
        required: true
  pull_request:
    types:
      - labeled
      - unlabeled
      - synchronize
      - opened
      - edited
      - ready_for_review
      - reopened
      - unlocked
  pull_request_review:
    types:
      - submitted
  check_suite:
    types:
      - completed
  status: {}
jobs:
  automerge:
    if: ${{ github.event.pull_request.base.ref == 'main' || github.event.pull_request.base.ref == 'develop' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - id: automerge
        name: automerge
        uses: "pascalgn/automerge-action@v0.16.4"
        env:
          GITHUB_TOKEN: "${{ secrets.GH_TOKEN }}"
          MERGE_LABELS: "!no-automerge"
          MERGE_REMOVE_LABELS: "no-automerge"
          MERGE_METHOD: "rebase"
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.GH_TOKEN }}
          event-type: pr-merged
