name: version


permissions:
  contents: write
  packages: write
  pull-requests: write
  checks: write

on:
  workflow_call:
    secrets:
      gh_token:
        required: true
      vault_addr:
        required: true

jobs:
  version:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    outputs:
      version: ${{ steps.set-version.outputs.version }}
    steps:
      - name: Import Secrets
        id: import-secrets
        uses: hashicorp/vault-action@v2
        with:
          url: ${{ secrets.VAULT_ADDR }}
          method: github
          githubToken: ${{ secrets.GH_TOKEN }}
          secrets: |
            kv/data/ci/actions github_token | GITHUB_TOKEN ;
            kv/data/ci/actions docker_username | DOCKER_USERNAME ;
            kv/data/ci/actions docker_password | DOCKER_PASSWORD ;
            kv/data/ci/actions docker_registry | DOCKER_REGISTRY
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: "${{ steps.import-secrets.outputs.GITHUB_TOKEN }}"

      - name: Conventional commit check
        uses: cocogitto/cocogitto-action@v4
        with:
          command: bump
          args: --auto
          git-user: 'Bot'
          git-user-email: 'build@sys-int.de'
